/* Display */
.d-flex{ display: flex; } /* sätter orden bredvid varandra och inte under*/
.d-none { display: none;}

/* flex */

.flex-row {flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-row-reverse { flex-direction: row-reverse;} 
.flex-grow{ flex-grow: 1; }
.flex-wrap {flex-wrap: wrap; }


/* Align & Justify */
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.justify-content-around {justify-content: space-around; }
.align-items-center { align-items: center;} 
